@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 5px solid #ff4500;
  border-radius: 50%;
  border-top: 5px solid #7cfc00;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: fixed;
  left: 50%;
  top: 10%;
}
